      <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
            <div id="con_dashboard" class="row">
				<div class="table-responsive">
				    <div>
				    <table class="table align-items-center">
				        <thead class="thead-light">
				            <tr>
				                <th scope="col">
				                    Invite user to join {{organization}}
				                </th>
				            </tr>
				        </thead>
				        <tbody class="list">
				            <tr>
				                <th scope="row" class="name">
				                    <div class="media align-items-center">
				                        <span class="avatar rounded-circle mr-3">
				                          <span class="ni ni-single-02 text-white"></span>
				                        </span>
				                        <div class="media-body">
				                            <span class="mb-0 text-sm">{{user.firstName}} would like to invite:</span>
				                        </div>
				                    </div>
				                </th>
				            </tr> 
							{{#if error}}
								<tr class="alert-danger">
									<td>								
										<div class="row">
											<div class="col-md-12">
												{{error}}
											</div>
										</div>
									</td>
								</tr>
							{{/if}}
				            <tr>
				              <td>
				                <form action="/invite" method="POST">
								  	<div class="row">
										<div class="col-md-6 form-group">
												<span class="text-nowrap">Username</span>
												<input type="text" name="login"
												class="form-control" placeholder="" required
												value="{{targetUser.login}}">
										</div>
										<div class="col-md-6 form-group">
												<span class="text-nowrap">Email address</span>
												<input type="email" name="email"
												class="form-control"
												placeholder="john.doe@domain.com"
												required
												value="{{targetUser.email}}">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<span class="text-nowrap">First name</span>
											<input type="text" name="firstname"
											class="form-control"
											placeholder="John" required 
											value="{{targetUser.firstName}}">
										</div>
										<div class="col-md-6 form-group">
											<span class="text-nowrap">Last name</span>
											<input type="text" name="secondname"
											placeholder="Doe"
											class="form-control"
											value="{{targetUser.secondName}}"
											required/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<span class="text-nowrap">Auction Portal (app 1)</span>
											<select class="form-control" name="role_app1" >
												{{#select targetUser.role_app1}}
												<option value="">None</option>
												<option value="user">User</option>
												<option value="admin">Admin</option>
												<option value="super admin">Super Admin</option>
												{{/select}}
											</select>
										</div>
										<div class="col-md-6 form-group">
											<span class="text-nowrap">Financial Portal (app 2)</span>
											<select class="form-control" name="role_app2" >
												{{#select targetUser.role_app2}}
												<option value="">None</option>
												<option value="user">User</option>
												<option value="admin">Admin</option>
												<option value="super admin">Super Admin</option>
												{{/select}}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 form-group">
											<button style="display:none" class="btn-positive" type="submit">Submit</button>
											<button type="submit" class="btn btn-primary my-4">Send invite</button>
										</div>
									</div>
									<div>
										<h3>Profile Meta Information</h3>
										<div class="row">
											<div class="col-md-4 form-group">
												<span class="text-nowrap">Creator</span>
												<input type="text" name="creator" class="form-control" placeholder="{{user.email}}" readonly="readonly">
											</div>
											<div class="col-md-4 form-group">
												<span class="text-nowrap">Federated</span>
												<input type="text" name="federated" value="{{federated}}" class="form-control" readonly="readonly">
											</div>
											<div class="col-md-4 form-group">
												<span class="text-nowrap">Organization</span>
												<input type="text" name="organization"
												class="form-control"
												value="{{organization}}"
												placeholder="Atko inc." readonly="readonly">
											</div>
										</div>
									</div>
				                </form>
				              </td>
				            </tr>           
				        </tbody>
				    </table>
				</div>
			</div>
          </div>      
        </div>
      </div>